/*#region Colors*/

$primary-color: #fff;
$secondary-color: #000;
$tertiary-color: #000;

/*#endregion*/

/*#region Dark or Shadow Colors*/

$primary-color-dark: #fff;
$primary-color-darker: #fff;
$primary-color-darkest: #fff;

$secondary-color-dark: #000;
$secondary-color-darker: #000;
$secondary-color-darkest: #000;

$tertiary-color-dark: #000;
$tertiary-color-darker: #000;
$tertiary-color-darkest: #000;

/*#endregion*/

/*#region Light or HighLight Colors*/

$primary-color-light: #fff;
$primary-color-lighter: #fff;
$primary-color-lightest: #fff;

$secondary-color-light: #000;
$secondary-color-lighter: #000;
$secondary-color-lightest: #000;

$tertiary-color-light: #000;
$tertiary-color-lighter: #000;
$tertiary-color-lightest: #000;

/*#endregion*/